<head>
  <h1> Beinvenido al hospital de Santiago</h1>
</head>

<ion-card>
  <ion-card-header>
    <ion-card-title>augustus Cole</ion-card-title>
    <ion-card-subtitle>hora dispronible [25/12/2024]</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Mascus es un medico especialista en psicologia
    <ion-button>Reservar hora</ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Damon Baird</ion-card-title>
    <ion-card-subtitle>hora dispronible [25/12/2024]</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Mascus es un medico especialista en Cardiologia
    <ion-button>Reservar hora</ion-button>
  </ion-card-content>
</ion-card>

