/* Estilos para el encabezado */
ion-header {
  --background: #bce4f6; /* Color de fondo del encabezado */
}

ion-toolbar {
  --background: #bce4f6; /* Color de fondo del toolbar */
}

ion-title {
  font-size: 20px;
  color: #3877bf; /* Color del título */
}

/* Estilos para el contenido */
ion-content {
  --background: #f1f3f4; /* Color de fondo de la página */
}

/* Estilos para los ítems del formulario */
ion-item {
  margin-bottom: 16px; /* Espacio entre los ítems */
  --background: #ffffff; /* Fondo blanco para los ítems */
}

/* Estilos para las etiquetas */
ion-label {
  color: #3877bf; /* Color del texto de las etiquetas */
}

/* Estilos para el botón de envío */
ion-button {
  margin-top: 16px;
  --background: #68c8f1; /* Color de fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
  --border-radius: 8px; /* Bordes redondeados */
}

/* Estilos para los mensajes */
p {
  color: #44a7cf; /* Color del texto de los mensajes */
  text-align: center; /* Centrar texto */
  margin-top: 16px; /* Espacio superior */
}
