<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reserva</ion-title>  <!-- Cambié "recerba" a "reserva" -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <!-- Cuadro 1 -->
    <ion-card>
      <ion-card-content>
        <h1>Clinica buin</h1>
        <p>ubicada en arturo prad 6026</p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/clinica-buin']">
          Visitar Hospital
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <!-- Cuadro 2 -->
    <ion-card>
      <ion-card-content>
        <h1>Hospital de Paine</h1>
        <p>ubicada en San Rafael 926 </p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/clina-de-paine']">
          Visitar Hospital
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <!-- Cuadro 3 -->
    <ion-card>
      <ion-card-content>
        <h1>hospital de santiago</h1>
        <p>ubicado en San Isidro 642</p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/reservar']">
          Visitar Hospital
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserva</ion-title>  <!-- Cambié "recerba" a "reserva" -->
    </ion-toolbar>
  </ion-header>
</ion-content>
