<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recerba</ion-title>
  </ion-toolbar>
</ion-header>








<ion-content [fullscreen]="true">
  <ion-content>
    <!-- Cuadro 1 -->
    <ion-card>
      <ion-card-content>
        <p>Contenido del Cuadro 1</p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/reservar']">
          Reservar
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <!-- Cuadro 2 -->
    <ion-card>
      <ion-card-content>
        <p>Contenido del Cuadro 2</p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/reservar']">
          Reservar
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <!-- Cuadro 3 -->
    <ion-card>
      <ion-card-content>
        <p>Contenido del Cuadro 3</p>
        <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/reservar']">
          Reservar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  










  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recerba</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
